body {
    margin: 0;
    background: linear-gradient(to bottom, #0f3d1e, #0b2a15);
    color: #f2f2f2;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

/* HERO */

.hero {
    padding: 80px 20px;
}

.logo-comcosur {
    width: 120px;
    margin-bottom: 10px;
}

.comcosur {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #b5e6c5;
}

.balcom {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    color: #b5e6c5;
    margin: 10px 0;
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 20px;
}

.descripcion {
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
}

.btn {
    background: #145c2b;
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #1f7a3a;
}

/* BALCOM SECTION */

.balcom-section {
    background: #071d0f;
    padding: 60px 20px;
}

.balcom-container {
    max-width: 800px;
    margin: auto;
}

.balcom-logo {
    width: 250px;
    margin-bottom: 30px;
}

.publicaciones {
    padding: 60px 20px;
}
